@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Welcome to the Price List Editor!</p>
    <p><a class="btn btn-primary btn-lg" href="/PriceLists">Manage Price Lists</a></p>
    
</div>
