@model PriceListEditor1.Models.PriceList

<h1>Add Custom Column to @Model.Name Price List</h1>

<form asp-action="AddCustomColumn">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label for="columnName">Column Name:</label>
        <input type="text" id="columnName" name="columnName" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="dataType">Data Type:</label>
        <select id="dataType" name="dataType" class="form-control" asp-items="Html.GetEnumSelectList<PriceListEditor1.Models.ColumnType>()">
            <option value="">-- Select Data Type --</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Add Column</button>
</form>
